In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np

def pprint(arr):
    print('type: {}'.format(type(arr)))
    print('hape: {}, dimenseion: {}, dtype: {}'.format(arr.shape, arr.ndim, arr.dtype))
    print('numpy 배열의 데이터\n', arr, sep = '')

인덱싱  
배열의 각 요소는 axis 인덱스 배열로 참조 할 수 있다.  
1차원 배열은 1개의 인덱스, 2차원 배열은 2개의 인덱스, 3차원 배열은 3개의 인덱스로 요소를 참조할 수 있다.  
인덱싱 작업시 [행][열]과 같이 인덱스를 지정하고나 [행, 열]과 같이 인덱스를 지정할 수 있다.

In [2]:
a = np.arange(24) # 1차원 배열
pprint(a)
b = np.arange(24).reshape(4, 6) # 2차원 배열
pprint(b)
c = np.arange(24).reshape(2, 4, 3) # 3차원 배열
pprint(c)

type: <class 'numpy.ndarray'>
hape: (24,), dimenseion: 1, dtype: int32
numpy 배열의 데이터
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
type: <class 'numpy.ndarray'>
hape: (4, 6), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]
type: <class 'numpy.ndarray'>
hape: (2, 4, 3), dimenseion: 3, dtype: int32
numpy 배열의 데이터
[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]
  [ 9 10 11]]

 [[12 13 14]
  [15 16 17]
  [18 19 20]
  [21 22 23]]]

In [3]:
# 1차원 배열 요소 참조 및 변경
print(a[5])
a[5] = 100000
print(a)

5
[     0      1      2      3      4 100000      6      7      8      9
     10     11     12     13     14     15     16     17     18     19
     20     21     22     23]

In [4]:
# 2차원 배열 요소 참조 및 변겅
print(b[0][1])
b[0][1] = 10000
print(b)
print(b[1, 3])
b[1, 3] = 20000
print(b)

1
[[    0 10000     2     3     4     5]
 [    6     7     8     9    10    11]
 [   12    13    14    15    16    17]
 [   18    19    20    21    22    23]]
9
[[    0 10000     2     3     4     5]
 [    6     7     8 20000    10    11]
 [   12    13    14    15    16    17]
 [   18    19    20    21    22    23]]

In [5]:
# 3차원 배열 요소 참조 및 변경
print(c[1][0][1])
c[1][0][1] = 99999
print(c)

print(c[0, 2, 1])
c[0, 2, 1] = 8888
print(c)

13
[[[    0     1     2]
  [    3     4     5]
  [    6     7     8]
  [    9    10    11]]

 [[   12 99999    14]
  [   15    16    17]
  [   18    19    20]
  [   21    22    23]]]
7
[[[    0     1     2]
  [    3     4     5]
  [    6  8888     8]
  [    9    10    11]]

 [[   12 99999    14]
  [   15    16    17]
  [   18    19    20]
  [   21    22    23]]]

슬라이싱

In [6]:
print(a)
print(a[2:6])

[     0      1      2      3      4 100000      6      7      8      9
     10     11     12     13     14     15     16     17     18     19
     20     21     22     23]
[     2      3      4 100000]

<img src="./numpyImage/numpyImage06.jpg" width="1000" align="left"/>

In [7]:
print(b)
print('=' * 55)
print(b[1:3]) # 열을 생략하면 행 단위로 슬라이싱 된다. b[1:3, :]와 같은 표현이다.
print('=' * 55)
print(b[:, 1:5]) # 열 단위로 슬라이싱 하려면 행 위치에 ':'를 적어야 한다. 행 위치에 ':'를 찍으면 전체 행을 의미한다.
print('=' * 55)
print(b[1:3, 1:5])

[[    0 10000     2     3     4     5]
 [    6     7     8 20000    10    11]
 [   12    13    14    15    16    17]
 [   18    19    20    21    22    23]]
=======================================================
[[    6     7     8 20000    10    11]
 [   12    13    14    15    16    17]]
=======================================================
[[10000     2     3     4]
 [    7     8 20000    10]
 [   13    14    15    16]
 [   19    20    21    22]]
=======================================================
[[    7     8 20000    10]
 [   13    14    15    16]]

<img src="./numpyImage/numpyImage07.jpg" width="1000" align="left"/>

In [8]:
# 음수 인덱싱을 이용한 범위 설정
# 음수 인덱스는 지정한 axis의 마지막 요소부터 반대 방향의 인덱스이고 -1은 마지막 요소의 인덱스를 의미한다.
print(b[1:-1, 1:-1])

[[    7     8 20000    10]
 [   13    14    15    16]]

In [9]:
print(b[1:3][1:5]) # b[1:3, :][1:5, :]와 같은 표현이다.
print('=' * 55)
dd = b[1:3, :]
print(dd)
print('=' * 55)
ee = dd[1:5, :]
print(ee)

[[12 13 14 15 16 17]]
=======================================================
[[    6     7     8 20000    10    11]
 [   12    13    14    15    16    17]]
=======================================================
[[12 13 14 15 16 17]]

In [10]:
# 슬라이싱을 이용한 데이터 수정
print(b)
print('=' * 55)

# 슬라이싱을 이용한 배열 생성
slide_arr = b[1:3, 1:5]
print(slide_arr)
print('=' * 55)

print(slide_arr[:, 1:3])
print('=' * 55)

slide_arr[:, 1:3] = 99999
print(slide_arr)
print('=' * 55)

print(b)

[[    0 10000     2     3     4     5]
 [    6     7     8 20000    10    11]
 [   12    13    14    15    16    17]
 [   18    19    20    21    22    23]]
=======================================================
[[    7     8 20000    10]
 [   13    14    15    16]]
=======================================================
[[    8 20000]
 [   14    15]]
=======================================================
[[    7 99999 99999    10]
 [   13 99999 99999    16]]
=======================================================
[[    0 10000     2     3     4     5]
 [    6     7 99999 99999    10    11]
 [   12    13 99999 99999    16    17]
 [   18    19    20    21    22    23]]

불린 인덱싱  
numpy의 불린 인덱싱은 배열의 각 요소 선택 여부를 True, False로 지정하는 방식이다.

In [11]:
a = np.arange(24).reshape(4, 6)
print(a)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]

In [12]:
# a 배열에서 요소의 값이 짝수인 요소의 총 합계
# numpy의 브로드캐스팅 기능을 이용해서 배열의 요소 중에서 짝수인 요소를 확인한다.
even_arr1 = a % 2
print(even_arr1)
print('=' * 55)
even_arr2 = a % 2 == 0
print(even_arr2)

[[0 1 0 1 0 1]
 [0 1 0 1 0 1]
 [0 1 0 1 0 1]
 [0 1 0 1 0 1]]
=======================================================
[[ True False  True False  True False]
 [ True False  True False  True False]
 [ True False  True False  True False]
 [ True False  True False  True False]]

In [13]:
# 불린 인덱싱은 브로드캐시팅 결과가 True인 요소들만 추출한다.
print(a[even_arr2])
print(a[a % 2 == 0])

[ 0  2  4  6  8 10 12 14 16 18 20 22]
[ 0  2  4  6  8 10 12 14 16 18 20 22]

In [14]:
print(np.sum(a))
print('=' * 55)

print(a[a % 2 == 0].sum())
print(np.sum(a[a % 2 == 0]))
print('=' * 55)

print(a[a % 2 == 1].sum())
print(np.sum(a[a % 2 == 1]))

276
=======================================================
132
132
=======================================================
144
144

불린 인덱싱 응용  
데이터 파일 => 2014년 시에틀 강수량 데이터 => ./data/Seattle2014.csv  
2014년 시에틀 1월 평균 강수량 구하기

In [15]:
#!pip install pandas
import pandas as pd

In [16]:
# 판다스의 read_scv() 함수로 scv 파일을 데이터 프레임으로 읽어들인다.
rain_in_seattle = pd.read_csv('./data/Seattle2014.csv')
print(type(rain_in_seattle))
rain_in_seattle

<class 'pandas.core.frame.DataFrame'>

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,AWND,WDF2,WDF5,WSF2,WSF5,WT01,WT05,WT02,WT03
0,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140101,0,0,0,72,33,12,340,310,36,40,-9999,-9999,-9999,-9999
1,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140102,41,0,0,106,61,32,190,200,94,116,-9999,-9999,-9999,-9999
2,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140103,15,0,0,89,28,26,30,50,63,72,1,-9999,-9999,-9999
3,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140104,0,0,0,78,6,27,40,40,45,58,1,-9999,-9999,-9999
4,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140105,0,0,0,83,-5,37,10,10,67,76,-9999,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20141227,33,0,0,94,44,49,210,210,112,161,1,-9999,-9999,-9999
361,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20141228,41,0,0,67,28,18,50,30,58,72,1,-9999,-9999,-9999
362,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20141229,0,0,0,61,6,43,350,350,76,103,1,-9999,-9999,-9999
363,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20141230,0,0,0,33,-21,36,90,70,63,76,-9999,-9999,-9999,-9999
364,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20141231,0,0,0,33,-27,30,30,-9999,58,-9999,-9999,-9999,-9999,-9999

In [17]:
# 2014년 시에틀 강수량 데이터의 강수량 열(PRCP)의 데이터만 추출한다. 

# 데이터 프레임의 특정 열 1개 추출하기
#    => 데이터프레임이름['열이름'], 데이터프레임이름.get('열이름'), 데이터프레임이름.열이름 => 인덱스도 같이 추출된다.
# rain_arr = rain_in_seattle['PRCP']
# rain_arr = rain_in_seattle.get('PRCP')
# rain_arr = rain_in_seattle.PRCP
# print(type(rain_arr)) # <class 'pandas.core.series.Series'> => 데이터 프레임을 구성하는 열 1개

# 데이터만 얻어오기 위해 values 속성을 사용하고 인덱스만 얻어오려면 index 속성을 사용한다
# rain_arr = rain_in_seattle['PRCP'].values
# rain_arr = rain_in_seattle.get('PRCP').values
rain_arr = rain_in_seattle.PRCP.values
print(type(rain_arr)) # <class 'numpy.ndarray'>

print(rain_arr)
print('Data Size: ', len(rain_arr))

<class 'numpy.ndarray'>
[  0  41  15   0   0   3 122  97  58  43 213  15   0   0   0   0   0   0
   0   0   0   5   0   0   0   0   0  89 216   0  23  20   0   0   0   0
   0   0  51   5 183 170  46  18  94 117 264 145 152  10  30  28  25  61
 130   3   0   0   0   5 191 107 165 467  30   0 323  43 188   0   0   5
  69  81 277   3   0   5   0   0   0   0   0  41  36   3 221 140   0   0
   0   0  25   0  46   0   0  46   0   0   0   0   0   0   5 109 185   0
 137   0  51 142  89 124   0  33  69   0   0   0   0   0 333 160  51   0
   0 137  20   5   0   0   0   0   0   0   0   0   0   0   0   0  38   0
  56   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
  18  64   0   5  36  13   0   8   3   0   0   0   0   0   0  18  23   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   3 193   0   0   0   0   0   0   0   0   0   5   0   0
   0   0   0   0   0   0   5 127 216   0  10   0   0   0   0   0   0   0
   0   0   0   0   0   0   0  84  13   0  30   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   5   3   0   0   0   3 183 203  43  89   0
   0   8   0   0   0   0   0   0   0   0   0   0   3  74   0  76  71  86
   0  33 150   0 117  10 320  94  41  61  15   8 127   5 254 170   0  18
 109  41  48  41   0   0  51   0   0   0   0   0   0   0   0   0   0  36
 152   5 119  13 183   3  33 343  36   0   0   0   0   8  30  74   0  91
  99 130  69   0   0   0   0   0  28 130  30 196   0   0 206  53   0   0
  33  41   0   0   0]
Data Size:  365

In [18]:
days_arr = np.arange(0, 365) # 날짜 배열
print(days_arr[:40])
condition_jan = days_arr < 31 # 1월의 일수 만큼 불린 인덱스를 생성한다.
print(condition_jan[:40])

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True False False False False False
 False False False False]

In [19]:
# 불린 인덱싱을 이용해서 1월의 강수량만 추출한다.
rain_jan = rain_arr[condition_jan]
print(rain_jan)
print(len(rain_jan))

[  0  41  15   0   0   3 122  97  58  43 213  15   0   0   0   0   0   0
   0   0   0   5   0   0   0   0   0  89 216   0  23]
31

In [20]:
print('1월 강수량 합계: {}'.format(np.sum(rain_jan)))
print('1월 강수량 평균: {}'.format(np.mean(rain_jan)))

1월 강수량 합계: 940
1월 강수량 평균: 30.322580645161292

팬시 인덱싱  
배열에 인덱스 배열을 전달해 요소를 참조하는 방법이다.

In [21]:
a = np.arange(1, 25).reshape(4, 6)
print(a)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]
 [13 14 15 16 17 18]
 [19 20 21 22 23 24]]

In [22]:
print(a[0, 0], a[1, 1], a[2, 2], a[3, 3])
arr = a[0, 0], a[1, 1], a[2, 2], a[3, 3]
print(arr)
print(type(arr))

arr = [a[0, 0], a[1, 1], a[2, 2], a[3, 3]]
print(arr)
print(type(arr))
print('=' * 50)

print(a[[0, 1, 2, 3], [0, 1, 2, 3]]) # 팬시 인덱싱

1 8 15 22
(1, 8, 15, 22)
<class 'tuple'>
[1, 8, 15, 22]
<class 'list'>
==================================================
[ 1  8 15 22]

배열 변환  
배열을 변환하는 방법은 전치, 배열의 shape, 배열 요소 추가, 배열 결합, 배열 분리 등이 있다.

전치는 행렬의 인덱스가 바뀌는 변환이다.  
<img src="./numpyImage/numpyImage08.jpg" width="400" align="left"/>

In [23]:
# numpy에서 행렬을 전치하기 위해 배열.T 속성을 사용한다.
a = np.random.randint(1, 10, (2, 3))
print(a)
print('=' * 50)
print(a.T)

[[5 9 3]
 [3 8 6]]
==================================================
[[5 3]
 [9 8]
 [3 6]]

배열 형태 변경  
numpy는 배열의 형태를 변경하는 reshape() 함수와 reval() 함수를 제공한다.  
reshape() 함수는 데이터 변경없이 지정된 shape으로 배열의 형태를 변환한다.  
reval() 함수는 배열의 shape를 1차원으로 변환한다.

In [24]:
a = np.random.randint(1, 10, (2, 3))
print(a)
print(a.ravel())
print(a)

[[5 1 9]
 [9 2 4]]
[5 1 9 9 2 4]
[[5 1 9]
 [9 2 4]]

In [25]:
b = a.ravel()
print(b)
b[4] = 999
print(b)
# ravel() 함수는 원본 배열의 view를 반환한다.
# ravel() 함수가 반환한 배열을 수정하면 원본 배열의 내용이 같이 수정된다,
print(a)

[5 1 9 9 2 4]
[  5   1   9   9 999   4]
[[  5   1   9]
 [  9 999   4]]

In [26]:
a = np.random.randint(1, 10, (2, 3))
print(a)
print('=' * 50)

b = a.reshape(3, 2, 1)
print(b)
print('=' * 50)

b[0][0][0] = 999
print(b)
print('=' * 50)

# reshape() 함수도 원본 배열의 view를 반환한다.
# reshape() 함수가 반환한 배열을 수정하면 원본 배열의 내용이 같이 수정된다.
print(a)

[[4 4 1]
 [8 9 2]]
==================================================
[[[4]
  [4]]

 [[1]
  [8]]

 [[9]
  [2]]]
==================================================
[[[999]
  [  4]]

 [[  1]
  [  8]]

 [[  9]
  [  2]]]
==================================================
[[999   4   1]
 [  8   9   2]]

resize() 함수로 배열의 shape과 크기를 변경한다.  
배열.resize(new_shape), np.resize(배열, new_shape)  
resize() 함수와 reshape() 함수는 shape을 변경한다는 부분에서 유사하지만 reshape() 함수는 요소의 개수를 변경하지 못하는 반면에 resize() 함수는 shape을 변경하는 과정에서 요소의 개수를 줄이거나 늘릴 수 있다.

In [27]:
a = np.random.randint(1, 10, (2, 6))
print(a)
print('=' * 50)

np.resize(a, (6, 2))
print(a)
print('=' * 50)

print(np.resize(a, (6,2))) # resize() 함수는 배열을 지정한 shape으로 변경한 새 배열을 리턴한다.
print('=' * 50)

b = np.resize(a, (6, 2)) # np.resize() 함수는 반드시 실행 결과를 새 배열에 저장시켜 사용한다.
print(b)

[[3 6 3 2 8 4]
 [7 9 1 2 8 3]]
==================================================
[[3 6 3 2 8 4]
 [7 9 1 2 8 3]]
==================================================
[[3 6]
 [3 2]
 [8 4]
 [7 9]
 [1 2]
 [8 3]]
==================================================
[[3 6]
 [3 2]
 [8 4]
 [7 9]
 [1 2]
 [8 3]]

In [28]:
a = np.random.randint(1, 10, (2, 6))
print(a)
print('=' * 50)
a.resize(6, 2) # 배열.resize() 함수를 실행하려면 원본 배열의 shape이 변경된다.
print(a)

[[3 3 8 7 6 4]
 [5 6 7 4 5 7]]
==================================================
[[3 3]
 [8 7]
 [6 4]
 [5 6]
 [7 4]
 [5 7]]

In [29]:
# 요소 개수(크기)가 변경되는 resize() 함수
a = np.random.randint(1, 10, (2, 6))
print(a)
print('=' * 50)

# a.reshape(2, 10) # reshape() 함수는 원본과 요소의 개수가 다르면 에러가 발생된다.
a.resize(2, 10) # 배열의 요소 개수가 12개에서 20개로 늘어나고 늘어난 요소에서 0이 채워진다.
print(a)
print('=' * 50)

a.resize(2, 4) # 배열의 요소 개수가 20개에서 8개로 줄어들고 줄어든 요소의 데이터는 분실된다.
print(a)

[[7 7 2 7 6 2]
 [9 8 4 4 1 9]]
==================================================
[[7 7 2 7 6 2 9 8 4 4]
 [1 9 0 0 0 0 0 0 0 0]]
==================================================
[[7 7 2 7]
 [6 2 9 8]]

In [30]:
a = np.random.randint(1, 10, (2, 6))
print(a)
print('=' * 50)

a = np.resize(a, (2, 10)) # 배열의 요소 개수가 12개에서 20개로 늘어나고 늘어난 요소에는 원본 배열 데이터가 반복되서 채워진다.
print(a)
print('=' * 50)

a = np.resize(a, (2, 4)) # 배열의 요소 개수가 20개에서 8개로 줄어든 요소의 데이터는 분실된다.
print(a)

[[2 5 4 9 1 9]
 [6 5 2 7 4 4]]
==================================================
[[2 5 4 9 1 9 6 5 2 7]
 [4 4 2 5 4 9 1 9 6 5]]
==================================================
[[2 5 4 9]
 [1 9 6 5]]

append() 함수는 배열의 끝에 데이터(배열)을 추가한다. axis로 데이터가 추가되는 방향을 지정할 수 있다.  
np.append(배열, 추가할 데이터, axis)

In [31]:
a = np.random.randint(1, 10, (3, 3))
pprint(a)
print('=' * 50)

b = np.random.randint(10, 19, (3, 3))
pprint(b)

type: <class 'numpy.ndarray'>
hape: (3, 3), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[1 9 3]
 [2 5 3]
 [4 4 8]]
==================================================
type: <class 'numpy.ndarray'>
hape: (3, 3), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[17 16 12]
 [18 12 18]
 [14 11 13]]

In [32]:
# axis를 지정하지 않았을 경우
# axis를 지정하지 않으면 배열은 1차원 배열로 변환되서 결합한다.
result = np.append(a, b)
pprint(result)

result = np.append(a, b, axis=None)
pprint(result)

type: <class 'numpy.ndarray'>
hape: (18,), dimenseion: 1, dtype: int32
numpy 배열의 데이터
[ 1  9  3  2  5  3  4  4  8 17 16 12 18 12 18 14 11 13]
type: <class 'numpy.ndarray'>
hape: (18,), dimenseion: 1, dtype: int32
numpy 배열의 데이터
[ 1  9  3  2  5  3  4  4  8 17 16 12 18 12 18 14 11 13]

In [33]:
# axis=0으로 지정한 경우
result = np.append(a, b, axis=0) # a 배열 아래쪽에 b 배열이 추가됨
pprint(result)

type: <class 'numpy.ndarray'>
hape: (6, 3), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[ 1  9  3]
 [ 2  5  3]
 [ 4  4  8]
 [17 16 12]
 [18 12 18]
 [14 11 13]]

In [34]:
# axis=0으로 지정해서 아래쪽에 데이터를 추가할 경우 행의 개수는 달라도 상관없지만 열의 개수는 반드시 같아야 한다.
diff_shape = np.random.randint(10, 19, (4, 3)) # 배열과 행의 개수가 다른 배열
pprint(diff_shape)
print('=' * 50)
result = np.append(a, diff_shape, axis=0)
pprint(result)
print('=' * 50)

# diff_shape = np.random.randint(10, 19, (3, 4)) # 배열과 열의 개수가 다른 배열
# pprint(diff_shape)
# result = np.append(a, diff_shape, axis=0) # 추가할 데이터가 원본의 열의 개수와 다르기 때문에 에러가 발생한다.
# pprint(result)

type: <class 'numpy.ndarray'>
hape: (4, 3), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[12 12 18]
 [18 12 14]
 [15 13 16]
 [16 17 12]]
==================================================
type: <class 'numpy.ndarray'>
hape: (7, 3), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[ 1  9  3]
 [ 2  5  3]
 [ 4  4  8]
 [12 12 18]
 [18 12 14]
 [15 13 16]
 [16 17 12]]
==================================================

In [35]:
# axis=1으로 지정된 경우
result = np.append(a, b, axis=1)
pprint(result)

type: <class 'numpy.ndarray'>
hape: (3, 6), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[ 1  9  3 17 16 12]
 [ 2  5  3 18 12 18]
 [ 4  4  8 14 11 13]]

In [36]:
# axis=1으로 지정해서 오른쪽에 데이터를 추가할 경우 열의 개수는 달라도 상관없지만 행의 개수는 반드시 같아야 한다.
diff_shape = np.random.randint(10, 19, (3, 4)) # 배열과 열의 개수가 다른 배열
pprint(diff_shape)
print('=' * 50)
result = np.append(a, diff_shape, axis=1)
pprint(result)
print('=' * 50)

# diff_shape = np.random.randint(10, 19, (4, 3)) # 배열과 행의 개수가 다른 배열
# pprint(diff_shape)
# result = np.append(a, diff_shape, axis=1)
# pprint(result)

type: <class 'numpy.ndarray'>
hape: (3, 4), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[10 18 11 13]
 [11 11 15 18]
 [15 14 11 16]]
==================================================
type: <class 'numpy.ndarray'>
hape: (3, 7), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[ 1  9  3 10 18 11 13]
 [ 2  5  3 11 11 15 18]
 [ 4  4  8 15 14 11 16]]
==================================================

insert() 함수는 지정한 index에 데이터를 삽입한다. axis로 데이터가 삽입되는 방향을 지정할 수 있다.  
np.insert(배열이름, index, 삽입할 데이터, axis)

In [37]:
a = np.random.randint(1, 10, (3, 3))
pprint(a)

type: <class 'numpy.ndarray'>
hape: (3, 3), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[6 5 5]
 [4 3 2]
 [8 4 1]]

In [38]:
# axis를 지정하지 않으면 None이 기본값이고 배열을 1차원으로 변환한 후 지정된 index에 데이터를 삽입한다.
pprint(np.insert(a, 1, 99999))
pprint(np.insert(a, 1, 99999, axis=None))

type: <class 'numpy.ndarray'>
hape: (10,), dimenseion: 1, dtype: int32
numpy 배열의 데이터
[    6 99999     5     5     4     3     2     8     4     1]
type: <class 'numpy.ndarray'>
hape: (10,), dimenseion: 1, dtype: int32
numpy 배열의 데이터
[    6 99999     5     5     4     3     2     8     4     1]

In [39]:
# axis=0으로 지정하면 index가 1인 행에 데이터를 삽입한다.
pprint(np.insert(a, 1, 99999, axis=0))

type: <class 'numpy.ndarray'>
hape: (4, 3), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[    6     5     5]
 [99999 99999 99999]
 [    4     3     2]
 [    8     4     1]]

In [40]:
# axis=1으로 지정하면 index가 1인 열에 데이터를 삽입한다.
pprint(np.insert(a, 1, 99999, axis=1))

type: <class 'numpy.ndarray'>
hape: (3, 4), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[    6 99999     5     5]
 [    4 99999     3     2]
 [    8 99999     4     1]]

delete() 함수로 지정된 index의 데이터를 삭제한다. axis로 데이터가 삭제되는 방향을 지정할 수 있다.  
np.delete(배열이름, index, axis)

In [41]:
a = np.random.randint(1, 10, (3, 3))
pprint(a)

type: <class 'numpy.ndarray'>
hape: (3, 3), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[2 6 8]
 [5 8 7]
 [8 2 8]]

In [42]:
# axis를 지정하지 않으면 None이 기본값이고 배열을 1차원으로 변환한 후 지정된 index에 데이터를 삭제한다.
pprint(np.delete(a, 1))
pprint(np.delete(a, 1, axis=None))

type: <class 'numpy.ndarray'>
hape: (8,), dimenseion: 1, dtype: int32
numpy 배열의 데이터
[2 8 5 8 7 8 2 8]
type: <class 'numpy.ndarray'>
hape: (8,), dimenseion: 1, dtype: int32
numpy 배열의 데이터
[2 8 5 8 7 8 2 8]

In [43]:
# axis=0으로 지정하면 index가 1인 행의 데이터를 삭제한다.
pprint(np.delete(a, 1, axis=0))

type: <class 'numpy.ndarray'>
hape: (2, 3), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[2 6 8]
 [8 2 8]]

In [44]:
# axis=1으로 지정하면 index가 1인 열의 데이터를 삭제한다.
pprint(np.delete(a, 1, axis=1))

type: <class 'numpy.ndarray'>
hape: (3, 2), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[2 8]
 [5 7]
 [8 8]]

배열과 결합  
배열과 배열을 결합하는 np.concatenate(), np.vstack(), np.hstack()함수를 제공한다.

np.concatenate() 함수는 axis로 결합할 방향을 지정해 배열을 결합한다.  
np.concatenate(배열1, 배열2, ...), axis)

In [45]:
a = np.random.randint(1, 10, (2, 3))
pprint(a)
print('=' * 50)
b = np.random.randint(10, 19, (2, 3))
pprint(b)

type: <class 'numpy.ndarray'>
hape: (2, 3), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[2 6 4]
 [7 5 1]]
==================================================
type: <class 'numpy.ndarray'>
hape: (2, 3), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[16 16 10]
 [13 10 16]]

In [46]:
# axis를 지정하지 않으면 0이 기본값이고 아래쪽으로 배열을 결합한다.
result = np.concatenate((a, b))
print(result)
print('=' * 50)

result = np.concatenate((a, b), axis=0)
print(result)

[[ 2  6  4]
 [ 7  5  1]
 [16 16 10]
 [13 10 16]]
==================================================
[[ 2  6  4]
 [ 7  5  1]
 [16 16 10]
 [13 10 16]]

In [47]:
# axis=1로 지정하면 오른쪽으로 배열을 결합한다. 결합한 배열들이 행의 개수가 다르면 에러가 발생한다.
result = np.concatenate((a, b), axis=1)
print(result)

[[ 2  6  4 16 16 10]
 [ 7  5  1 13 10 16]]

np.vstack() 함수는 인수로 지정된 튜플 타입의 배열을 수직방향(axis=0)으로 결합한다.  
np.concatenate(배열1, 배열2, ...), axis=0)와 동일한 기능이 실행된다.  
np.vstack(배열1, 배열2, ...)

In [48]:
pprint(np.vstack((a,b))) # 결합할 배열들이 열의 개수가 다르면 에러가 발생한다.

type: <class 'numpy.ndarray'>
hape: (4, 3), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[ 2  6  4]
 [ 7  5  1]
 [16 16 10]
 [13 10 16]]

np.hstack() 함수는 인수로 지정된 튜플 타입의 배열을 수직방향(axis=1)으로 결합한다.  
np.concatenate(배열1, 배열2, ...), axis=1)와 동일한 기능이 실행된다.  
np.hstack(배열1, 배열2, ...)

In [49]:
pprint(np.hstack((a,b))) # 결합할 배열들이 행의 개수가 다르면 에러가 발생한다.

type: <class 'numpy.ndarray'>
hape: (2, 6), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[ 2  6  4 16 16 10]
 [ 7  5  1 13 10 16]]

배열 분리  
numpy는 배열을 수직(열) 방향으로 분할하는 np.vsplit() 함수와 수평(행) 방향으로 분할하는 np.hsplit() 함수를 제공한다.

In [50]:
a= np.arange(1, 25).reshape(4, 6)
pprint(a)

type: <class 'numpy.ndarray'>
hape: (4, 6), dimenseion: 2, dtype: int32
numpy 배열의 데이터
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]
 [13 14 15 16 17 18]
 [19 20 21 22 23 24]]

np.hsplit() 함수로 배열을 수평 방향으로 분할한다.  
np.hsplit(배열이름, 분할 배열의 개수)

In [51]:
result = np.hsplit(a, 2) # hsplit() 함수의 실행 결과 리턴값은 numpy 배열을 저장하고 있는 파이썬 list 형태로 리턴된다.
print(type(result)) # <class 'list'> 
print(result)
print(type(result[0]))

<class 'list'>
[array([[ 1,  2,  3],
       [ 7,  8,  9],
       [13, 14, 15],
       [19, 20, 21]]), array([[ 4,  5,  6],
       [10, 11, 12],
       [16, 17, 18],
       [22, 23, 24]])]
<class 'numpy.ndarray'>

In [52]:
result = np.hsplit(a, 2)
print(result)

[array([[ 1,  2,  3],
       [ 7,  8,  9],
       [13, 14, 15],
       [19, 20, 21]]), array([[ 4,  5,  6],
       [10, 11, 12],
       [16, 17, 18],
       [22, 23, 24]])]

<img src="./numpyImage/numpyImage09.jpg" width="1000" align="left"/>

In [53]:
result = np.hsplit(a, 3)
print(result)

[array([[ 1,  2],
       [ 7,  8],
       [13, 14],
       [19, 20]]), array([[ 3,  4],
       [ 9, 10],
       [15, 16],
       [21, 22]]), array([[ 5,  6],
       [11, 12],
       [17, 18],
       [23, 24]])]

<img src="./numpyImage/numpyImage10.jpg" width="1000" align="left"/>

In [54]:
result = np.hsplit(a, [1, 3, 5])
print(result)

[array([[ 1],
       [ 7],
       [13],
       [19]]), array([[ 2,  3],
       [ 8,  9],
       [14, 15],
       [20, 21]]), array([[ 4,  5],
       [10, 11],
       [16, 17],
       [22, 23]]), array([[ 6],
       [12],
       [18],
       [24]])]

<img src="./numpyImage/numpyImage11.jpg" width="1000" align="left"/>

np.vsplit() 함수로 배열을 수직 방향으로 분할한다.  
np.vsplit(배열이름, 분할 배열의 개수)

In [55]:
result = np.vsplit(a, 2)
print(result)

[array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]]), array([[13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24]])]

<img src="./numpyImage/numpyImage12.jpg" width="1000" align="left"/>

In [56]:
result = np.vsplit(a, 4)
print(result)

[array([[1, 2, 3, 4, 5, 6]]), array([[ 7,  8,  9, 10, 11, 12]]), array([[13, 14, 15, 16, 17, 18]]), array([[19, 20, 21, 22, 23, 24]])]

<img src="./numpyImage/numpyImage13.jpg" width="1000" align="left"/>

In [57]:
result = np.vsplit(a, [1, 3])
print(result)

[array([[1, 2, 3, 4, 5, 6]]), array([[ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18]]), array([[19, 20, 21, 22, 23, 24]])]

<img src="./numpyImage/numpyImage14.jpg" width="1000" align="left"/>